h1 {
    color: green;
}



.square {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    background-color: skyblue;

    position: relative;
    left: 0px;
    top: 0px;
}